@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#frame-espec {
    width: 400px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    border: none;
    overflow: hidden;
}
iframe#frame-espec::-webkit-scrollbar {
    display: none; 
}